@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

*{
    font-family: "Roboto Slab", serif;
box-sizing: border-box;
margin: 0;
padding: 0;
}

.container{
    background-color: #EDE8DC;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.input{
    display: block;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
}
input[type="text"]{
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
}
button{
    padding: 20px;
    font-size: 15px;
    margin: 0 5px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor:pointer;
} 

.generate-btn{
    background-color:#0D92F4;
}
.disable{
    cursor: not-allowed;
    background-color:gray;
}
.download-btn{
    background-color: #6EC207;
}
